html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: aquamarine;
}

main {
  flex: 1;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding: 1rem;
  color: rgba(39, 33, 66, 0.4);
}
